node_modules
app
**/.env
server/rs.debug.zip
server/*.sh
client/build
publish.sh
server/coverage/*
server/npm-debug.log
**/.terraform
terraform/dev/terraform.tfstate
terraform/dev/terraform.tfstate.backup
