
.Header-Description {
  display: grid;
  grid-template-columns: min-content auto;
}

.Description-Label {
  margin-left: 12px;
  align-self: center;
}

.App-header {
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 15px;
    padding-right: 15px;
  }

.Import-button {
  width: 160px;
  height: 40%;
  float: right;
}
  
.Button-Table {
  display: table;
}

.Centerized-tablecell {
  vertical-align: middle;
  display: table-cell;
}